body{
  align: left;
}

table { 
  border-collapse: collapse; 
  width: 100%; 
  margin-top: 20px; 
}

th, td { 
  border: 1px solid #000; 
  padding: 8px; 
  text-align: left; 
}

.activity-slot {
  background-color: #d4f4ff;
  font-weight: bold;
  text-align: center;
}

input, button { 
  margin: 5px; 
}
